body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 56px;
    background: #E5E5E5;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main_content {
    background: #FFFFFF;  
}

/* about projects */

.project_title {
}
    

/* about styles */

.projects {
  
}

.projects a {
   
}

/* work styles */

.work {
   
}


/* aside styles */

.asidebar {
    background-color: #1e2939; 
    width: 370px;
}

.contacts,
.techskills,
.softskilss{
   margin-left: 40px;
}

.contacts{
    margin-bottom: 50px;
}

.info {
    padding-left: 33px;
}

.photo{
    width: 370px; 
    margin-bottom: 50px;
    margin-top: 40px;
}

.asidebar_title{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10%;
}

.contact_type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;  
    color: #FFFFFF;
    margin-right: 10px;
}

.contact_link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
}

.tech_skills_list{
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.tech_skills_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
} 

.tech_skills_item{
    color: #FB6D3A;
}

.asidebar_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;  
    color: #FFFFFF;
}

.soft_skills_list{
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}
.soft_skills_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;   
}

.soft_skills_item{
    color: #FB6D3A;
}


